In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('bart_locations.csv')

In [3]:
test.head()

,station_q_number,Country,station_ch5_abbr,station_ch8_abbr,station_p_number,station_o_number,city,station_r_number,county,bart_station_geo_country_geo_city,...,plat1_displ_number,gtfs_latitude,name,station_m_number,gtfs_longitude,plat4_displ_number,station_ch4_abbr,plat2_displ_number,plat3_displ_number,Source_data_set|
0,27,United States,MONTG,MONTGMRY,27.0,27.0,San Francisco,41.0,sanfrancisco,San Francisco,...,16.0,37.789256,MONTGOMERY ST.,31.0,-122.401407,0.0,MONT,17.0,0.0,bart_locations|station_list
1,32,United States,GLNPK,GLEN PRK,32.0,32.0,San Francisco,46.0,sanfrancisco,San Francisco,...,6.0,37.732921,GLEN PARK,36.0,-122.434092,0.0,GLEN,7.0,0.0,station_list|bart_locations
2,4,United States,NBERK,NO BRKLY,4.0,22.0,Berkeley,13.0,alameda,Berkeley,...,46.0,37.874040,NORTH BERKELEY,26.0,-122.283451,0.0,NBER,47.0,0.0,station_list|bart_locations
3,38,United States,NCONC,N CONCRD,35.0,40.0,Concord,31.0,contracosta,Concord,...,0.0,38.003275,NORTH CONCORD/MARTINEZ,22.0,-122.024597,0.0,NCON,0.0,0.0,station_list|bart_locations
4,40,United States,WDUBL,W DUBLIN,38.0,45.0,Dublin,9.0,alameda,Dublin,...,0.0,37.699759,WEST DUBLIN/PLEASANTON,NaN,-121.928099,0.0,WDBL,0.0,0.0,station_list|bart_locations